# Пример конфигурации
# Скопируй этот файл в .env и замени на свои токены

BOT_TOKEN=8728640291:AAFXB2bbgNNCcTxaQS-uRSuQHCm6RIhOGro
REPLICATE_API_TOKEN=r8_btcyAoNIP8X5MCcbvE311wwyuh8wQZU0yGJo7
HF_TOKEN=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
